<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label for="username"></mat-label>
        <input matInput name="username" type="text" appearance="'outline'"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>